*{
    font-family: sans-serif;
}

.stock-info-all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.stock-info-header{
    display: flex;
    font-size: 6vmin;
    font-weight: 600;
    background: linear-gradient(to right,var(--stockcardTwo), var(--stockcardOne),var(--stockcardTwo));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    min-height: 35px;
    padding-top: 2vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    align-content: center;
    justify-content: space-around;
}
.stock-info-card{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2vh;
    background:var(--stockcardOne);
    color: white;
    padding: 3vh 5vh 3vh 5vh;
    border-radius: 10px;
}
.stock-info-card-one{
    display: flex;
    margin-bottom: 1vh;
    justify-content: center;
    font-size: 25px;   
    font-weight: 600;
}
.stock-info-card-two{
    display: flex;
    text-align: center;
    font-size: 22px;
}
.stock-info-card-three{
    display: flex;
    text-align: center;
    font-size: 22px;
}
.see-more-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    min-height: 20px;
    align-items: center;
    margin-right: 50px ;
    margin-bottom:8vh ;
    font-size: 15px;
    text-decoration: underline;
}



.stock-info-card:hover{
    transition : .3s ease;
    transform: scale(1.1);
}



@import url('https://fonts.googleapis.com/css?family=Montserrat');

.trail{
    display: block;
    justify-content: center;
    background-color:var(--newsback);
    color:white;
}

.news{
    display: inline-block;
    padding: 5vh;
    color:white;
    border-right: 1px solid white;
}

.primary-news{
    display: inline-block;
    font-size: 3vh;
    width: 20vw;
    font-weight: 600;
}

.primary-news:hover{
    text-decoration: underline;
    cursor: pointer;
}

.stry:hover{
    text-decoration:underline;
    cursor: pointer;
}

.secondary-news{
    display: inline-block;
    margin-left: 15px;
    font-size: 2.5vh;
    width: 35vw;
    vertical-align: top;
}


.stry{
    border-bottom: 0.5px solid white;
    padding:15px 0;
}

.prim-news-image{
    width:30vw;
}

.indices-table{
    display: inline-block;
    font-size: 2.5vh;
    /*border-bottom: 1px solid grey;*/
    width: 32vw;
    height: 32vh;
    padding-left: 18px;
    vertical-align: top;
    text-transform: capitalize;
}


table{
    width:100%;
    height: 100%;
    display: table;
    color: white;
    border-collapse: collapse;
    border-spacing: 6px;
}


td{
    vertical-align: bottom;
}

thead th{
    color: white;
}

th,td{
    border-bottom: 0.5px solid white;
}


.table-head{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3vh;
}

.news-head{
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
    padding-top: 2vh;
    padding-left: 5vw;
    color: white;
}

@media screen and (max-width:480px) {
    .indices-table{
        display: block;
        height: auto;
        width: 100%;
    }
    .secondary-news{
        display: block;
        width: 100%;
    }
    .primary-news{
        display: block;
        width: 100%;
    }
}