

.footer-container{
  display: flex;
  justify-content: space-around;
  min-height: 25vh;
  align-items: flex-start;
  background-color: var(--footerColor);
  color : white;
  font-size: 3.75vh;
  text-transform: capitalize;
  font-family: cursive;
}
.links-content{
  font-size: 2.75vh;
}

.socials-icons{
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  font-size: 3.75vh;
}

.logo{
  width: 33vh;
  margin: none;
  padding: none;
}

.footer-socials{
  padding-top: 8vh;
}

.footer-links{
  padding-top: 8vh;
}

.footer-headers::after{
  content: '';
  display: block;
  width: 55%;
  margin-left: 0.75vh;
  height: 4px;
  background-color: rgb(255, 255, 255);
}

.footer-headers{
  padding-bottom: 1vh;
}

.madeby{
  margin-top: 5vh;
  font-style: italic;
  animation:footer 5s linear infinite alternate-reverse;
}

@keyframes footer {
  100%{
      color:rgba(255, 255, 255, 0.658);
  }
  0%{
      color: white
  }
}
