*{
  font-family: cursive;
}

.footer-container{
  display: flex;
  justify-content: space-around;
  min-height: 25vh;
  align-items: flex-start;
  background-color: var(--footerColor);
  color : white;
  font-size: 3.75vh;
  text-transform: capitalize;
}
.links-content{
  font-size: 2.75vh;
}

.socials-icons{
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  font-size: 3.75vh;
}

.logo{
  width: 33vh;
  margin: none;
  padding: none;
}

.footer-socials{
  padding-top: 8vh;
}

.footer-links{
  padding-top: 8vh;
}
