.stock{
    background: linear-gradient(to bottom,#5680E9,#8860d0,#5ab9ea);
}
.stock1{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
    padding-top: 20px;
    
}
.stock2{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock3{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock4{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock5{
    color:#ffffff;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock6{
    color:#ffffff;
    font-size: 25px;
    margin-left: 20px;
}
.stock7{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock8{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock9{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock10{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock11{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock12{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock13{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock14{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock15{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock16{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock17{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock18{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock19{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}

.stock20{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock21{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock22{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock23{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock24{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock25{
    color:white;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock26{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.void{
    color:rgb(247, 109, 109);
}

.get-started{
    background-color: #5680E9;
    color: white;
}
.get-started-head{
    font-size: 8vh;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 2vh;
    padding-top: 4vh;
    padding-left: 15vh;

}
.get-started-points{
    font-size: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding:1vh 10vh 5vh 5vh;
    text-transform: capitalize;
}
.get-started-points li{
    padding-bottom:2vh ;
}

.info-image{
    width: 35vh;
    padding-bottom: 5vh;
}
.get-started-cont{
    display: flex;
    justify-content: space-around;

}