*{
    font-family: sans-serif;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    min-height: 10vh;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background:var(--navbarColor);

}

.header-name{
    font-weight: 600;
    font-size: 6vh;
    animation: animate 5s linear infinite alternate-reverse;
    
}

@keyframes animate {
    100%{
        color:var(--animateColorOne);
    }
    0%{
        color: var(--animateColorTwo);
    }
}

.lower-header{
    display: flex;
    flex-wrap: wrap;
    background-color:var(--lowernavbar);
    min-height: 12vh;
    justify-content: space-around;
    align-items: center;
    font-size: 3.5vh;
    color: white;
    margin-top: 12vh;
}
.header-searchbar{
    font-size: 1vh;
}

.header-icon{
    font-size: 4vh;
    color:orange;
}
.lower-header i{
    color:white
}

.lower-header i::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: width .3s ;
}
.lower-header i:hover::after{
    width:100%;
    transition: width .3s;
}
.lower-header i:hover{
    color:lightblue
}
.time-date{
    font-size: 2.75vh;
    font-weight: 600;
    animation: animate 5s linear infinite alternate-reverse;
}
