.stock-news-header{
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-weight: 600;
    margin-top: 1vh;
    padding-top: 1.6vh;
    align-items: center;
    color:var(--newsheader)
}

.stock-news-container hr{
    height: 1px;
    background-color:var(--newscontent);
}

.stock-news-container{
    margin: 70px 70px 100px 70px;
    outline: 2px solid var(--newsheader);
    outline-offset: 25px;
    border-radius: 1px;
    background: -webkit-linear-gradient(var(--newsheader),var(--newscontent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stock-news-card{
    margin-bottom: 20px;
    border-radius: 15px;
    
}
.stock-news-card-head{
    padding:8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4vh;
    font-weight: bold;
    
}
.stock-news-card-content{
    font-size: 3vh;
    padding: 1vh;
    
}

.news-component{
    text-align: center;
}

.stock-news-card{
    display: flex;
}
.stock-news-card img{
    width:27vw;
}
@media screen and (max-width:480px) {
    .stock-news-card img{
        display: none;
    }
}